:root {
    --text-color: #222222;
    --gray-color: #838383;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
.box {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 330px;
    width: 290px;
    background-color: #fff;
    padding: 16px;
    border: 1px solid #bec8d8;

}
.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 14px;
}
.title__text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 14px;
}
.title--tittle {
    color: #3ec729;
}
.title--about {
    color: var(--text-color);
}
.title__details {
    font-family: Tahoma, Verdana, sans-serif;
    color: var(--gray-color);
    position: absolute;
    right: 0;
    top: 1px;
}
.home-filter {
    margin-top: 16px;
    border: 1px solid #999;
}
.home-filter__list {
    display: flex;
    list-style: none;
}
.home-filter__item {
    height: 24px;
}
.home-filter__item-small {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    display: block;
    width: 127px;
    line-height: 24px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    border-right: 1px solid #999;

}
.home-filter__item-big {
    font-family: Tahoma, Verdana, sans-serif;
    text-decoration: none;
    display: block;
    width: 127px;
    line-height: 24px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--gray-color);
    background-color: #f9fafc;
}
.content-section {
    margin: 10px 0 14px;
}
.content-section__item {
    display: flex;
    margin: 7px 0;
    line-height: 13px;
    justify-content: space-between;
    font-size: 1.3rem;
}
.content-section__item:last-child {
    margin-bottom: 0;
}
.content-section__item-info {
    font-family: 'Noto Sans', sans-serif;
}
.count {
    display: inline-block;
    width: 12px;
    text-align: center;
    color: var(--gray-color);
}
.content-section__text {
    font-weight: 500;
}
.content-section__item-number {

}
.img {
    height: 10px;
}
.num {
    display: inline-block;
    text-align: right;
    color: var(--gray-color);
    font-family: Tahoma, Verdana, sans-serif;
    width: 20px;
}
.footer {
    border-top: 1px solid #f1f3f6;
    padding-top: 14px;
}
.date-time {
    color: var(--gray-color);
    font-size: 1rem;
    line-height: 6px;
}